a {
    color: #3b5998;
}


/* Posts */

.post {
    background: #fff;
    padding: 1em;
    border: 1px solid rgba(33, 33, 33, .33);
}

.post-content p {
    margin-top: 1.2em;
}

.post-content img {
    width: 100%;
    height: 68vh;
    cursor: pointer;
    padding: .4em;
}

.post-content img:hover {
    opacity: .8;
}

img.media-object {
    width: 48px;
}

.fc-react {
    background: #fff;
    margin-bottom: .4em;
}

.fc-react .btn {
    border: none;
    padding: 1em;
    margin: .2em .5em;
}

.f-tu {
    background: #3b5998;
    color: #fff;
    border-radius: 50%;
    padding: .55em;
}

textarea {
    width: 98%;
    overflow: hidden;
    padding: .8em;
    display: inline-block;
}

.fc-engage {
    background: #eee;
    padding: 1em;
}

.fc-engage .well {
    background: none;
    border: none;
}

.textarea-camera {
    margin-left: -4em;
    z-index: 22;
}


/* Posts Reactions */

i.posts {
    content: '';
    display: inline-block;
    height: 14px;
    margin: 0 6px -3px 0;
    width: 14px;
}




  